<ion-view view-title="Delivery from {{route.startText}} to {{route.destinationText}}">
    <ion-content class="padding">
        <div class="row">
            <div class="col col-25">
                <img ng-src="{{route.face}}" style="width: 64px; height: 64px"/>
            </div>
            <div class="col">
                <p><strong>Pick Up: </strong>{{route.fullStartAddress}}</p>
                <p><strong>Deliver to: </strong>{{route.fullDestinationAddress}}</p>
            </div>
        </div>


        <div class="row">
            <strong>
                For this ride you will earn $25
            </strong>
        </div>

        <div class="row">
            <div class="col-10"></div>
            <div class="col">
                <br/>
                <button class="center button icon-left button-small ion-checkmark button-balanced">I'm on it!</button>
            </div>
            <div class="col-10"></div>
        </div>

        <!--div class="row" >
                <div id="map" data-tap-disabled="false" ng-controller="MapCtrl"></div>
        </div-->
    </ion-content>
</ion-view>
