<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"><strong>Earnings</strong></div>
      <div class="item item-body">
        <div>
          Already earned &nbsp;&nbsp;&nbsp;&nbsp;<strong>${{earned}}</strong></b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider"><strong>Awaiting delivery</strong></div>
      <div class="item item-body">
        <div class="list list-inset no-margin-top">
          <div class="item item-padding item-text-wrap" ng-repeat="delivery in deliveries | filter: {type: 'FUTURE'}">
            <div class="row">
              <div class="col col-90">
                <strong>{{delivery.dueDate}}</strong>: From {{delivery.startCity}} to {{delivery.destinationCity}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider"><strong>Past Deliveries</strong></div>
      <div class="item item-body">
        <div class="past-item" ng-repeat="delivery in deliveries | filter: {type: 'PAST'}">
          <strong>{{delivery.dueDate}}:</strong> {{delivery.startCity}} <span class="ion-android-arrow-forward"></span>
          {{delivery.destinationCity}}
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
